.DS_Store
dist/electron/*
dist/web/*
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
package-lock.json
plugin/
/plugins.json
desktop/
data/
.idea/
.idea/workspace.xml
mac
build
!build/icon
command
